.application-fill           { fill: fb-cyan; }
.app-gradient-background    { fill: fb-blue; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.left-button {
  x: 18;
  y: 0;
}
.middle-button {
  x: 120;
  y: 0;
}
.right-button {
  x: 222;
  y: 0;
}

.actbutton-section #image {
  fill: black;
  opacity: 1;
}