.application-fill           { fill: fb-cyan; }
.app-gradient-background    { fill: fb-blue; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.left-button {
  x: 18;
  y: 0;
}
.middle-button {
  x: 120;
  y: 0;
}
.right-button {
  x: 222;
  y: 0;
}
.laughing-button #image {
  href: "/mnt/assets/resources/icons/laughing.png";
}
.laughing-button #tpl_text {
  text-buffer: _laughing_icon;
}
.eating-button #image {
  href: "/mnt/assets/resources/icons/eating.png";
}
.crying-button #image {
  href: "/mnt/assets/resources/icons/crying.png";
}
.havingfun-button #image {
  href: "/mnt/assets/resources/icons/havingfun.png";
}
.relaxing-button #image {
  href: "/mnt/assets/resources/icons/relaxing.png";
}
.vgame-button #image {
  href: "/mnt/assets/resources/icons/vgame.png";
}
.walking-button #image {
  href: "/mnt/assets/resources/icons/walking.png";
}
.exercise-button #image {
  href: "/mnt/assets/resources/icons/exercise.png";
}
.television-button #image {
  href: "/mnt/assets/resources/icons/television.png";
}
.anxious-button #image {
  href: "/mnt/assets/resources/icons/anxious.png";
}
#anxious_text {
  text-buffer: _anxious_icon;
  fill: black;
}